<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.carMapper">
	<select id="select" parameterType="String"
	resultType="car">
		SELECT * FROM CAR_TABLE WHERE CAR_ID=#{car_id}
	</select>

	<select id="selects" parameterType="String"
	resultType="car">
		SELECT CAR_TABLE.CAR_ID, CAR_TABLE.CAR_NAME, CAR_TABLE.CAR_TYPE, CAR_TABLE.CAR_FUEL, CAR_TABLE.CAR_DISPLACEMENT, CAR_TABLE.CAR_COLOR, CAR_TABLE.CAR_AUTO FROM CAR_TABLE, CARGROUP_TABLE WHERE USER_ID=#{key} AND CAR_TABLE.CAR_ID=CARGROUP_TABLE.CAR_ID
	</select>

	<select id="selectAll" resultType="car">
		SELECT * FROM CAR_TABLE
	</select>
	
	<insert id="insert" parameterType="car">
		INSERT INTO CAR_TABLE VALUES (#{car_id},#{car_name},#{car_type},#{car_fuel},#{car_displacement},#{car_color}, #{car_auto})
	</insert>
	
	<update id="update" parameterType="car">
		UPDATE CAR_TABLE SET CAR_NAME=#{car_name}, CAR_TYPE=#{car_type}, CAR_FUEL=#{car_fuel}, CAR_DISPLACEMENT=#{car_displacement}, CAR_COLOR=#{car_color}, CAR_AUTO=#{car_auto} WHERE CAR_ID=#{car_id}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM CAR_TABLE WHERE CAR_ID=#{key}
	</delete>
</mapper>