<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.vo.User" alias="user"/>
		<typeAlias type="com.vo.Car" alias="car"/>
		<typeAlias type="com.vo.Car" alias="carGroup"/>
		<typeAlias type="com.vo.CarStatus" alias="carStatus"/>
		<typeAlias type="com.vo.CarConsumable" alias="carConsumable"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/userMapper.xml"/>
		<mapper resource="com/config/carMapper.xml"/>
		<mapper resource="com/config/carGroupMapper.xml"/>
		<mapper resource="com/config/carStatusMapper.xml"/>
		<mapper resource="com/config/carConsumableMapper.xml"/>
	</mappers>
</configuration>